.fresh textarea.idea_template, textarea.idea_template {
  display: none;
  width: 617px;
  background: url(../img/line_nums.gif) 0 4px no-repeat #26292c;
  color: #fefefe;
  font: 13px/19px courier;
  padding-left: 40px;
  height: 1055px
}
.template-textarea-wrap {
  display: none;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto
}
.cb-wrap, .frmb-wrap {
  vertical-align: top
}
.cb-wrap {
  float: right;
  background: #fff;
  width:36%;
}
.frmb-wrap {
  float: left;
  width: 62%;
  margin-right: 2%
}
.frmb-wrap .action-links {
  display: none;
  float: right;
  overflow: hidden;
  width: 400px;
  text-align: right
}
.frmb-wrap .action-links .active {
  font-weight: 700;
  color: #000
}
.frmb-wrap .action-links:hover, .frmb-wrap.dev-mode .action-links {
  width: 550px
}
.action-links .action-links_inner {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 20px;
  line-height: 30px
}
.action-links .dev-mode-link {
  color: #666;
  cursor: pointer;
  padding-right: 2px
}
.cb-wrap h4, .frmb-wrap h4 {
  margin-top: 0;
  color: #666
}
.cb-wrap h4 {
  text-align: left
}
.cb-wrap .save:hover {
  color: #08fe00
}
.cb-wrap .showTooltip a {
  text-decoration: underline;
  color: #fff
}
.action-links a.clear-all:hover, .del-button:hover, ul.frmb span.required {
  color: red
}
.action-links a {
  color: #666
}
.view-xml {
  float: right
}
.action-links a.view-xml:hover {
  color: #000
}
.frm-elements {
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 0 2px 0 #999;
  box-shadow: inset 0 0 2px 0 #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0;
  padding: 10px 5px
}
.frm-elements .false-label, .frm-elements .fields {
  margin-top: 10px
}
.frm-elements .fields {
  width: 70%;
  float: left
}
.frm-elements .fields .add-area .add {
  clear: both
}
.frm-elements .fields .remove {
  right: 11px;
  top: 50%;
  margin-top: -11px;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.frm-elements .sortable-options li:nth-child(1) .remove, .frm-elements .sortable-options li:nth-child(2) .remove {
  display: none
}
ol.sortable-options {
  margin-top: 0
}
ol.sortable-options li {
  cursor: move
}
.frm-elements .fields div {
  clear: both;
  position: relative
}
.frm-elements .fields input[type=checkbox], .frm-elements .fields input[type=radio] {
  float: left;
  margin-right: 5px
}
.frm-elements .fields input[type=text] {
  width: 75%
}
.frm-elements input[type=text] {
  width: 70%;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  padding: 5px;
  border: 1px solid #AFAFAB;
  background-color: #fff
}
.frm-elements input[type=text].error {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #E00000
}
.frm-elements input[type=text].fld-max-length {
  width: 10%
}
.frm-elements input.field_error {
  background: #ffefef;
  border: 1px solid #afafab
}
.frm-elements .false-label, .frm-elements label {
  width: 15%;
  float: left;
  margin-left: 5px;
  padding-right: 5%;
  font-weight: 700;
  clear: left;
  text-align: right;
  line-height: 32px
}
.frm-elements label.multiple, .frm-elements label.required_label, .frm-elements label.roles_label {
  float: none;
  display: inline;
  font-weight: 400;
  width: auto
}
.frm-elements label em {
  display: block;
  font-weight: 400;
  font-size: .75em
}
.frm-elements label.max-length-label {
  line-height: 1em
}
.frm-elements .allow-multi input {
  margin-top: 10px
}
.frm-elements .allow-multi, .frm-elements .name_wrap, .frm-elements .select-option {
  display: none
}
.allow-select .frm-elements .allow-multi, .allow-select .frm-elements .select-option, .edit-names .frm-elements .name_wrap {
  display: block!important
}
.frm-fld {
  clear: left;
  padding: 5px 0
}
.frm-fld .available-roles {
  display: none;
  padding: 5px 10px;
  margin: 5px 0 10px 133px;
  width: 434px;
  background: #efefef;
  -webkit-box-shadow: inset 0 0 2px 0 #999;
  box-shadow: inset 0 0 2px 0 #999
}
.frm-elements .available-roles label {
  font-weight: 400;
  width: auto;
  float: none;
  display: inline
}
.frm-elements .available-roles input {
  display: inline;
  top: auto
}
.frm-elements, .frm-fld, .multi-row span, textarea {
  display: block
}
.frm-elements:after, .frm-fld:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.frmb .frm-holder {
  display: none
}
.frmb .tooltip {
  left: 20px
}
.frmb .prev-holder {
  display: block;
  background: url(../img/frmb_sprite.png) no-repeat
}
.frmb .required_asterisk {
  display: none
}
.frmb .field_label, .frmb .legend {
  color: #666;
  margin-bottom: 5px
}
.frmb .disabled .field_label {
  display: block
}
.frm-elements .fields div:hover, .frmb .legend, .frmb .prev-holder, .frmb .prev-holder * {
  cursor: move
}
.prev-holder input[type=checkbox], .prev-holder input[type=radio] {
  margin-right: 5px
}
.frmb li.disabled input[type=checkbox] {
  float: left;
  margin-right: 10px
}
.frmb li.disabled label {
  font-size: 12px;
  font-weight: 400;
  color: #666
}
.frmb li.disabled .prev-holder {
  cursor: default;
  padding-left: 5px;
  line-height: 28px
}
.frmb a.btn {
  color: #000;
  border: 1px solid #ccc;
  line-height: 13px;
  text-decoration: none;
  width: 11px;
  height: 12px;
  text-align: center;
  display: inline-block
}
.frmb a.del-button, .frmb a.remove {
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-block;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  padding:3px 4px;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.frmb li a.remove {
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1
}
.frmb a.del-button:hover, .frmb a.remove:hover {
  border-color: #c66865;
  color:#c66865;
}
.frmb li {
  clear: both;
  position: relative;
  margin-left: 0;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-transition: border 250ms ease-in-out;
  -moz-transition: border 250ms ease-in-out;
  -ms-transition: border 250ms ease-in-out;
  -o-transition: border 250ms ease-in-out;
  transition: border 250ms ease-in-out;
  padding: 6px
}
.frmb li.delete:hover, .frmb li:hover li.delete:hover {
  background-color: #fdd
}
.frmb li.disabled {
  padding: 0 5px
}
.frmb li.disabled:hover {
  border-color: transparent
}
.frmb li.disabled .form-element {
  overflow: visible;
  float: none;
  margin-bottom: 10px;
  position: relative;
  padding: 5px 0
}
.frmb li.disabled .tooltip-element {
  display: inline;
  visibility: visible
}
.frmb-tt {
  position: absolute;
  border: 1px solid #333;
  background-color: #666;
  border-radius: 5px;
  padding: 5px;
  color: #ccc;
  z-index: 20;
  text-align: left;
  font-size: 12px
}
.frmb-tt:after, .frmb-tt:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #666 transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -10px;
  bottom: -10px;
  left: 20px
}
.frmb-tt:before {
  border-color: #333 transparent;
  bottom: -11px
}
.frmb-tt a {
  text-decoration: underline;
  color: #fff
}
.frmb li.moving, .frmb li.ui-sortable-helper, .frmb-control li.moving, .frmb-control li.ui-sortable-helper {
  -webkit-transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  -webkit-box-shadow: 2px 2px 6px 0 #666;
  box-shadow: 2px 2px 6px 0 #666;
  border: 1px solid #fff
}
.frmb li:hover .del-button, .frmb li:hover .toggle-form {
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1
}
.frmb li:hover li:hover {
  background: #fefefe
}
.fresh .frmb .legend .element-info {
  display: inline-block;
  visibility: visible;
  line-height: 12px;
  margin-left: 6px
}
.frmb-control li {
  cursor: move;
  list-style: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0;
  padding: 10px;
  text-align: left;
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefefe 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefefe 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.frmb-control li.checkbox {
  /*background-position: 10px -252px*/
}
.frmb .prev-holder.type_5 {
  background-position: 0 -442px;
  height: 12px
}
.frmb-control li.rich-text {
  /*background-position: 10px -79px*/
}
.frmb .prev-holder.type_7 {
  background-position: 0 -519px;
  height: 154px
}
.frmb-control li.date_input {
  /*background-position: 10px -79px*/
}
.frmb .prev-holder.type_3 {
  background-position: 0 -395px;
  height: 28px
}
.frmb-control li.select {
  /*background-position: 10px -123px*/
}
.frmb .prev-holder.type_6 {
  background-position: 0 -473px;
  height: 27px
}
.frmb .prev-holder.type_10 {
  background: 0 0;
  line-height: 1.5em;
  font-size: 13px
}
.frmb-control li.text-input {
  /*background-position: 10px 6px*/
}
.frmb .prev-holder.type_1, .frmb .prev-holder.type_11 {
  background-position: 0 -344px;
  height: 32px
}
.frmb-control li.user_field {
  /*background-position: 10px -294px*/
}
.frmb-control li.radio-group {
  /*background-position: 10px -166px*/
}
.frmb-control li.checkbox-group {
  /*background-position: 10px -209px*/
}
.frmb .prev-holder.type_9 {
  background-position: 0 -693px;
  height: 32px
}
.frmb li:hover, .frmb-control li:hover {
  border: 1px solid #a5aab0
}
.frmb li.no-fields label {
  font-weight: 400
}
.frmb li.frmb-placeholder, .frmb li.ui-state-highlight {
  background: url(../img/frmb_sprite.png) 50% 100% no-repeat;
  height: 24px;
  visibility: visible
}
.frmb-control, table.form ul.frmb-control {
  margin: 0 0 20px;
  padding: 0;
  min-width: 208px
}
ul.frmb-control li.ui-state-highlight {
  background-image: none
}
.spigit-xml pre.ui-dialog-content {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 12px;
  padding: 0 30px;
  margin-top: 0
}
.action-links a.export_xml:hover, .toggle-form.closed:hover {
  color: #6fc245
}
.toggle-form.open {
  line-height: 14px
}
a.btn.toggle-form {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  line-height: 20px;
  text-indent: -9999px;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background: url(/img/bg/sprites/fresh.png) -156px -58px no-repeat #fff
}
a.toggle-form img {
  background: url(/img/bg/sprites/fresh.png) -156px -58px no-repeat
}
td.formtitles {
  width: 200px
}
ul.frmb {
  list-style-type: none;
  min-height: 200px;
  border: 1px solid #efefef;
  margin: 0 0 5px;
  padding: 5px 5px 0
}
.spigit-field-vars .copy_var {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #999;
  text-indent: -9999px
}
.spigit-field-vars .clipboard {
  background: url(../js/zeroclipboard/clipboard_sprite.png) 50% 0 no-repeat
}
.spigit-field-vars .clipboard.copied {
  background: url(../js/zeroclipboard/clipboard_sprite.png) 50% -27px no-repeat
}
.ite-warning {
  -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, .5);
  box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, .5);
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #DDD
}
.ite-warning .ui-dialog-buttonpane {
  height: 27px
}
.ite-warning button {
  color: #4479B9;
  margin: 0
}
.ite-warning button:focus {
  outline: 0;
  font-weight: 700
}
.ite-warning button.cancel:before {
  content: "|";
  margin-right: 15px;
  padding: 0
}
.ite-warning .ui-dialog-content {
  padding: 0 15px 10px
}
.ite-warning .ui-dialog-titlebar-close {
  display: none
}
.ite-warning .ui-widget-header {
  height: 15px
}
.ite-warning {
  font-size: 12px;
  line-height: 1.5em
}
.ite-warning h3 {
  color: #666;
  margin-bottom: 10px
}
.ite-warning h3 span {
  background: url(/img/bg/sprites/fresh.png) -473px -281px no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -5px
}
.ite-warning button {
  background: 0 0;
  padding: 2px 5px
}
